@import 'reset';
@import 'mixins';
@import 'settings';

//
//	$INDEX
//
//	$0 EXTENDS
//
//	$1 LAYOUT
//		$1.1 Header
//		$1.2 Footer
//		$1.3 Main containers
//		$1.4 Forms
//
//	$2 CONTENT
//

//	$0 EXTENDS
%border_box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

%clearfix{
	&:before,
	&:after{
		content: '';
		display: table;
		}
	&:after{clear: both;}
	}

%no_list{
	list-style:none;
	margin:0;
	padding:0;
	}

//	$1 LAYOUT

//	$1.1 Header

//	$1.2 Footer

//	$1.3 Main containeres

//	$1.4 Forms

//	$2 CONTENT
