@import 'reset';
//@import 'print';
@import 'settings';

//
//	$INDEX
//
//	$0 EXTENDS
//
//	$1 LAYOUT
//		$1.1 Header
//		$1.2 Footer
//		$1.3 Main container
//		$1.4 Forms
//		$1.5 Popups
//
//	$MQ MEDIAQUERIES
//

//	$0 EXTENDS
%border_box{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

%clearfix{
	&:before,
	&:after{
		content: '';
		display: table;
		}
	&:after{clear: both;}
	}

%no_list{
	list-style:none;
	margin:0;
	padding:0;
	}

//	$1 LAYOUT


//	$1.1 Header


//	$1.2 Footer


//	$1.3 Main container


//	$1.4 Forms
.formulario{
	.label{
		display:block;
	}
	.field{
		&.parsley-success{}
  	&.parsley-error{
			border-color:$c_alert !important;
			color:$c_alert;
			}
		}
	.note{
		color:mix($c_white,$c_black,50%);
		font-size:.8em;
		margin:.5em 0;
		}
	.parsley-error-list{
		@extend %no_list;
		.custom-error-message{
			color:$c_alert;
			font-size:.8em;
			margin:.5em 0;
			}
		}
	.submit{
		&.inactive{
			cursor:default;
			@include opacity();
			}
		}
	}

//	$1.5 Popups


//	$MQ MEDIAQUERIES

