// SCSS Functions
@function em($pixels, $context: $f_font_size) {
	@return #{$pixels/$context}em;
}

@function per($pixels, $context: $m_sitewidth) {
	@return #{$pixels * 100%/$context};
}

@function rem($pixels, $context: $f_font_size) {
	@return ($pixels / $context) * 1rem;
}

@function img($image){
	@return url( #{$theme + $image});
}

// SCSS Mixins
@mixin box-shadow( $horiz : 0 , $vert : .5em , $blur : 0px , $spread : 0px , $color : #000000 ){
	-webkit-box-shadow: $horiz $vert $blur $spread $color;
	-moz-box-shadow: $horiz $vert $blur $spread $color;
	box-shadow: $horiz $vert $blur $spread $color;
}

@mixin box-sizing($type: border-box){
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	box-sizing: $type;
}

@mixin column-count($cols: 2){
	-webkit-column-count: $cols;
	-moz-column-count: $cols;
	-o-column-count: $cols;
	-ms-column-count: $cols;
	column-count: $cols;
}

@mixin column-gap($width:2em){
	-webkit-column-gap: $width;
	-moz-column-gap: $width;
	-o-column-gap: $width;
	-ms-column-gap: $width;
	column-gap: $width;
}

@mixin fontFace($family ,$src , $weight:normal, $style: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$src}.eot');
		src: url('#{$src}.eot?#iefix') format('embedded-opentype'),
			url('#{$src}.woff') format('woff'),
			url('#{$src}.ttf') format('truetype');
			//url('#{$src}.svg##{$family}') format('svg');
		font-style: $style;
		font-weight: $weight;
	}
}

@mixin font-size($pixels, $context: $f_font_size) {
	font-size: $pixels * 1px;
	font-size: rem($pixels, $context);
}

@mixin gradient($g_color1, $g_color2, $pos1:0%, $pos2:100%, $dir:top){
	background-image: -webkit-linear-gradient($dir, $g_color1 $pos1, $g_color2 $pos2);
	background-image: -moz-linear-gradient($dir, $g_color1 $pos1, $g_color2 $pos2);
	background-image: -o-linear-gradient($dir, $g_color1 $pos1, $g_color2 $pos2);
	background-image: -ms-linear-gradient($dir, $g_color1 $pos1, $g_color2 $pos2);
	background-image: linear-gradient($dir, $g_color1 $pos1, $g_color2 $pos2);
	background-repeat: no-repeat;
}

@mixin mq($pixels, $width:min-width){
	@media screen and ($width:em($pixels) ){
	//@media screen and ($width: #{$pixels}px){
		@content;
	}
}

@mixin opacity($alpha: .5) {
	filter: alpha(opactiy=($alpha * 100));
	-ms-filter: "progid:DXImagealphaform.Microsoft.Alpha(Opacity=#{$alpha * 100})";
	-moz-opacity: $alpha;
	-khtml-opacity: $alpha;
	opacity: $alpha;
}

@mixin snitch(){
	.snitch{
		background:$c_black;
		color:$c_white;
		opacity:1;
		padding:.5em 1em;
		position:fixed;
		right:1em;
		top:1em;
		z-index:666;
	}
}

@mixin transition($time: $base_time_transition, $property:all){
	-webkit-transition: $time $property ease;
	-moz-transition: $time $property ease;
	-ms-transition: $time $property ease;
	-o-transition: $time $property ease;
	transition: $time $property ease;
}

@mixin to_rems($propiedad, $pixels, $context:$f_base_size){
	#{$propiedad} : $px;
	#{$propiedad} : rem($pixels, $context);
}
