$debugMode:false;

@import 'reset';
@import 'mixins';
@import 'extends';
@import 'settings';
@import 'debug';

//
//	$INDEX
//
//	$1 LAYOUT
//		$1.1 Header
//		$1.2 Footer
//
//	$2 CONTENT
//

//	$1 Layout
@include snitch();
